<div id="divhead">
  <table cellspacing="0" class="headtable">
    <tr>
      <td><img src="{$Think.IMG_URL}logo.gif" width="95" height="30" /></td>
      <td style="text-align:right"><img src="{$Think.IMG_URL}cart.gif" width="26" height="23" style="margin-bottom:-4px"/>&nbsp;<a href="/Cat">购物车</a>　|　<a href="#">帮助中心</a>　|　<if condition="$Think.session.UserNum == null"> <a href="/User/login">登录</a><else /> <a href="/User/my">{$Think.session.NickName}  </a>　|　<a href="/User/exits">退出</a> </if>　|　<a href="register.html">新用户注册</a></td>
    </tr>
  </table>
</div>

<div id="divmenu">
<a href="product_list.html">文学</a>　　<a href="product_list.html">生活</a>　　<a href="product_list.html">计算机</a>　　<a href="product_list.html">外语</a>　　<a href="product_list.html">经管</a>　　<a href="product_list.html">励志</a>　　<a href="product_list.html">社科</a>　　<a href="product_list.html">学术</a>　　<a href="product_list.html">少儿</a>　　<a href="product_list.html">艺术</a>　　<a href="product_list.html">原版</a>　　<a href="product_list.html">科技</a>　　<a href="product_list.html">考试</a>　　<a href="product_list.html">生活百科</a>　　　　<a href="product_list.html" style="color:#FFFF00">全部商品目录</a></div>
<div id="divsearch"><table width="100%" border="0" cellspacing="0">
  <tr>
    <td style="text-align:right; padding-right:220px">Search
  <input type="text" name="textfield" class="inputtable" id="txtSerach"/>
<!--<input name="searchbutton" type="image" src="{$Think.IMG_URL}serchbutton.gif" style=" margin-bottom:-4px"/>-->
<a href="search.html"><img src="{$Think.IMG_URL}serchbutton.gif" border="0" style="margin-bottom:-4px"/></a></td>
  </tr>
</table>

</div>





